a* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 0 60px;
}

.container a {
    text-decoration: none;
    color: black;
}

.searcharea {
    position: fixed;
    right: 96px;
    /* top: 50px; */
    width: 170px;
    height: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgb(167 158 245 / 20%);
    box-sizing: border-box;
    z-index: 1;
    border: 1px solid rgba(167, 158, 245, 0.1);
}

.searchbox {
    display: flex;
    width: 170px;
    align-items: center;
}

.searchbox input {
    width: 90px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #1F1F1F;
    font-size: 16px;
    padding: 0px 10px;
    position: relative;
    left: 7px
}

.searchbox input::placeholder {
    font-family: poppins;
    text-transform: capitalize;
    letter-spacing: 2.5px;
    font-size: 0.8rem;
    /* position:relative;
    left:10px */
}

.searchbox i {
    margin-left: 30px;
}

/* header end */
.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 160px;
    /* margin:0; */
}

.icons {
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 30px rgb(0 0 0 / 20%);
    padding: 5px 15px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons a {
    color: rgb(78, 77, 77);
}

.icons a:hover {
    color: rgb(5, 80, 243)
}

.icons a i {
    margin: 20px 0;
}

#img1 {
    width: 100%;
    height: 300px;
}

.sec1 {
    margin-right: 100px
}

.section1 img,
.sec1 {
    margin-top: 50px;
}

.sec1 h1,
h2 {
    font-family: roboto;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 0px;
    line-height: 70px;
    font-size: 4rem;
    text-shadow: 2px 2px 10px rgb(0 0 0 / 8%);
    color: #3D3D4A;
    text-transform: uppercase;
}

.sec1 span {
    font-family: sans-serif;
    color: #f30539;
}

.sec1 h1 {
    letter-spacing: 30px;
}

.sec1 input {
    width: 150px;
    height: 40px;
    background-color: #2f2e41;
    box-shadow: 2px 2px 30px rgb(0 0 0 / 10%);
    border-radius: 10% /50%;
    margin-top: 20px;
    color: #fff;
    font-family: calibri;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border: transparent;
    transition: 0.5s;
}

.sec1 input:hover {
    background-color: #7A72FF;
    color: white
}

.section2 {
    width: 87%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 30px rgb(167 158 245 / 20%);
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: -60px;
    position: relative;
    background-size: 1000px;
    border-radius: 10px;
}

.section2 h3 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 20px;
    font-family: myriad pro;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    color: #323543
}

.section2 span {
    color: #7A72FF;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 100%;

}

.productbox {
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 10px 30px;
}

.productbox img {
    height: 180px
}

.productbox p {
    color: #4d4d4d70;
    font-family: myrid pro;
    font-size: 0.9rem;
    letter-spacing: 0.5;
}

.productbox a {
    font-family: poppins;
    font-size: 1rem;
}

.probtn {
    position: absolute;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: calibri;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-radius: 15% /50%;
    background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
    color: #ffff;
    display: none;
    animation: fade 0.2s
}

.productbox:hover {
    box-shadow: 2px 2px 30px rgb(0 0 0 / 10%);
}

.productbox:hover .probtn {
    display: flex;
}

.eki {
    width: 90%;
}

.section3 {
    display: flex;
    width: 85%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 150px !important;
}

.disc {
    width: 40%;
    font-family: "myriad pro";
}

.disc h1 {
    color: #333333;
    font-weight: 700;
    font-size: 3rem;
    margin: 0px;
}

.disc h4 {
    /* font-size :40px;
    font-family:sans-serif;
    font-weight:0px; */
    color: #333333;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.disc p {
    color: rgb(200, 193, 193)
}

.disc span {
    color: #7A72FF;
}

.section3 img {
    height: 270px;
}

.section4 {
    text-align: center;
    height: 250px;
}

.section4 h3 {
    font-size: 1.5rem;
    margin-top: 7rem
}

.email {
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 7% / 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    box-shadow: rgb(0 0 0 / 10%) 2px 5px 30px;
    margin: 0 auto;
    margin-top: 30px;

}

.email a {
    width: 120px;
    height: 40px;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: rgb(0 0 0 / 10%) 2px 2px 30px;
    font-size: 1rem;
    transition: 0.5s;
}

.email a:hover {
    background: #7A72FF;
}

.email input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

@media only screen and (max-width: 800px) {
    .logo {
        /* border: 2px solid red; */
        margin-left: -105px;
        font-size: 0.5rem;
    }

    .searcharea {
        right:5%;
    }

    .section1 {
        display: block;
        margin-top: -50px
    }

    .section1 #img1 {
        width: 65%;
        height: 300px;
        /* border: 10px solid red; */
        margin-left:70px
    }

    .sec1 {
        margin-top: -1.5rem;
    }

    .icons {
        margin-top: -100px;
        margin-left: -15px
    }

    .sec1>h1,
    h2 {
        margin-left:2rem;
        font-size: 1.7rem;
        text-align: center;
        line-height: 50px;
        letter-spacing: 10px;
    }

    .sec1>input {
        margin-left: 5rem
    }

    .section2 h3 {
        margin-left: 50px
    }

    .section3 {
        display: block;
    }

    .disc {
        width: 100%;
        font-family: "myriad pro";
        margin-left: 1.5rem
    }

    .disc h4 {
        font-size: 1.5rem;
    }

    .email {
        width: 340px
    }

    .disc h1 {
        font-size: 2.2rem;
    }

    .section3>img {
        height:170px;
        margin-top:2.2rem
    }
    .section1{
        /* overflow-x:hidden */
    }
    section.section2 {
        margin-left: 30px;
    }
}
@media only screen and (max-width: 320px){
    .sec1>h1, h2{
        font-size: 1.1rem;
    }
    .email {
        width:280px;
    }
    footer{
        width:110%
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #0b47dd;
    padding: 70px 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 700;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




